<!DOCTYPE html>
<html>
    <head>
        <title>leap_dev</title>
        <meta charset="urt-8"/>
        <script type="text/javascript" src="http://js.leapmotion.com/0.3.0-beta2/leap.min.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script type="text/javascript" src="/javascripts/jcanvas.min.js"></script>
        <script type="text/javascript" src="/javascripts/top.js"></script>

        <style type="text/css">
            body {
                width: 100%;
                height: 100%;
                margin: 0px;
                padding: 0px;
                text-align: center;
            }
            div.wrapper {
                width: 80%;
                margin: 0 auto;
                text-align: left;
            }
            div.outframe {
                position: relative;
                z-index: 1;
            }
            div.inframe {
                position: absolute;
                left: 121px;
                top: 106px;
                z-index: 2;
            }
            div.inframe canvas {
                position: absolute;
            }
        </style>
    </head>
    <body id="content">
        <div class="wrapper">
            <div class="outframe">
                <img src="/images/ipad-FB.png" width="1040" height="825">
                <div class="inframe">
                    <canvas id="layer0" width="400" height="300" style="z-index: 0;"></canvas>
                    <canvas id="layer1" width="400" height="300" style="z-index: 1;"></canvas>
                    <canvas id="layer2" width="400" height="300" style="z-index: 2;"></canvas>
                    <canvas id="layer3" width="400" height="300" style="z-index: 3;"></canvas>
                </div>
        </div>
    </body>
</html>