<!DOCTYPE html>
<html>
    <head>
        <title>sketch</title>
        <meta charset="urt-8"/>
        <script type="text/javascript" src="http://js.leapmotion.com/0.2.0/leap.min.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script type="text/javascript" src="/javascripts/jcanvas.min.js"></script>
        <script type="text/javascript" src="/javascripts/top.js"></script>

        <style type="text/css">
            body {
                width: 100%;
                height: 100%;
            },
            canvas {
                width: 400px;
                height: 300px;
            }
        </style>
    </head>
    <body id="content">
        <canvas id="canvas" width="400" height="300"></canvas>
    </body>
</html>